body
   font-family: sans-serif
   box-sizing: border-box
img
   max-width: 100%
.container
   width: 1170px
   margin: auto
.button
   background: $main-color
   border: 1px solid $button-border
   border-radius: 10px
   padding: 18px 30px
   font-weight: 700
   font-size: px-to-rem(13px)
   line-height: 16px