@media ( max-width: 1200px )
   .container
      width: 960px
   .hero
      padding: 45px 0
      &-text
         &__title
            font-size: 35px
            line-height: 50px
         &__subtitle
            font-size: 17px
            margin-bottom: 60px

@media ( max-width: 992px )
   .container
      width: 720px
   .hero
      &-block
         flex-direction: column
      &-text
         &__title
            font-size: 32px
         &__subtitle
            margin-bottom: 50px
      &-list
         &__item
            &:last-child
               margin-bottom: 40px

@media ( max-width: 768px )
   .container
      width: 540px

@media ( max-width: 576px )
   .container
      width: 90%
   .navbar
      &__contacts
         display: none
      &__button
         padding: 18px
         margin-left: 15px
      &__logo
         width: 120px
   .hero
      padding: 45px 0
      &-text
         &__title
            font-size: 24px
            line-height: 1.4
            margin-bottom: 15px
         &__subtitle
            font-size: 16px
            margin-bottom: 28px
      &-list
         &__item
            margin-bottom: 20px
         &__image
            margin-right: 12px
         &__text
            font-size: 12px