@media ( max-width: 1200px )
   .container
      width: 960px
   .hero
      padding: 45px 0
      &-text
         &__title
            font-size: px-to-rem(35px)
            line-height: 50px
         &__subtitle
            font-size: 17px
            margin-bottom: 60px
   .section
      padding: 70px 0
   .offer
      &-block
         padding-right: 50px
      &__input
         width: 100%
         margin-bottom: 10px
      &-text
         max-width: 210px
   .portfolio
      &__title
         margin-bottom: 55px
   .card
      &s
         justify-content: space-evenly
   .step
      flex-basis: 30%
      margin-bottom: 30px
      &:nth-child(3)
         &::after
            display: none
      &s
         &-block
            justify-content: center
   .about
      &__text
         font-size: px-to-rem(30px)
   .guarantee
      &-item
         max-width: 300px
   .agreement
      margin-bottom: 0
      &__title
         margin-bottom: 50px
         margin-top: 75px
   .brif
      &__form
         padding-left: 30px
   .form
      &__title
         font-size: px-to-rem(20px)
         margin-bottom: 15px
      &__subtitle
         margin-bottom: 45px
   .interview
      padding-right: 30px
      &__title
         font-size: px-to-rem(20px)
         margin-bottom: 15px
      &__subtitle
         margin-bottom: 60px
      &-list
         &__text
            font-size: px-to-rem(14px)
            max-width: 300px
         &__counter
            margin-right: 20px
   .contacts
      padding-left: 100px


   
@media ( max-width: 992px )
   .container
      width: 720px
   .hero
      &-block
         flex-direction: column
      &-image
         text-align: center
      &-text
         &__title
            font-size: px-to-rem(32px)
         &__subtitle
            margin-bottom: 50px
      &-list
         &__item
            &:last-child
               margin-bottom: 40px
   .section
      padding: 60px 0
      &-title
         font-size: px-to-rem(27px)
         line-height: 35px
   .input
      padding: 20px 26px
   .offer
      background-size: cover
      &-block
         padding-right: 25px
      &__title
         margin-top: 0
         margin-bottom: 20px
         font-size: px-to-rem(20px)
         line-height: 24px
      &-info
         margin-top: 22px
      &-phone
         width: 150px
      &-text
         max-width: 180px
   .portfolio
      &__title
         margin-bottom: 50px
      &__arrows
         margin-top: 50px
   .card
      &s
         justify-content: center
   .about
      &__text
         font-size: px-to-rem(25px)
         line-height: 40px
   .guarantee
      &-block
         justify-content: center
      &-item
         max-width: 100%
         margin-bottom: 30px
         &:last-child
            margin-bottom: 0
   .agreement
      &-block
         justify-content: center
      &-item
         max-width: 366px
      &__text
         margin: 30px 0 40px
   .contacts
      padding-left: 50px
            


   
@media ( max-width: 768px )
   .container
      width: 540px
   .section
      padding: 50px 0
      &-title
         font-size: px-to-rem(25px)
         line-height: 30px
   .offer
      background: #fff
      &-block
         width: 100%
         padding-right: 0
      &__title
         max-width: 100%
      &__subtitle
         max-width: 100%
      &-info
         flex-direction: column
         &__phone
            margin-top: 10px
      &-text
         max-width: 100%
         margin-bottom: 20px
      &-phone
         width: 100%
   .step
      flex-basis: 50%
      &:nth-child(2n)
         &::after
            display: none
      &:nth-child(3)
         &::after
            display: block
   .about
      &__text
         font-size: px-to-rem(22px)
         line-height: 30px
   .brif
      background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
      background-position: top center, center bottom
      background-size: 100% 50%, cover
      background-repeat: repeat-x, no-repeat
      &-block
         flex-direction: column
      &__form
         margin-top: 100px
   .interview
      padding-right: 0
      &__title
         font-size: px-to-rem(18px)
         margin-bottom: 15px
         line-height: 1.4
      &__subtitle
         font-size: px-to-rem(14px)
         margin-bottom: 49px
      &-list
         &__item
            margin-bottom: 25px
         &__counter
            margin-right: 9px
         &__text
            max-width: 210px
   .form
      padding-left: 0
      &__title
         font-size: px-to-rem(18px)
         margin-bottom: 15px
         line-height: 1.4
      &__subtitle
         font-size: px-to-rem(14px)
         margin-bottom: 49px
      &__description
         font-size: px-to-rem(14px)
   .map
      width: 100%
      left: 0
      top: 460px
   .contacts
      flex-basis: 100%
      padding-left: 0
      padding-top: 60px
      &-block
         justify-content: center
      &__title
         text-align: center
         font-size: px-to-rem(18px)

   
@media ( max-width: 576px )
   .container
      width: 90%
   .section
      &-title
         font-size: px-to-rem(18px)
         line-height: 1.2
   .navbar
      &__contacts
         display: none
      &__button
         padding: 18px
         margin-left: 15px
      &__logo
         width: 120px
   .hero
      padding: 45px 0
      &-text
         &__title
            font-size: px-to-rem(24px)
            line-height: 1.4
            margin-bottom: 15px
         &__subtitle
            font-size: px-to-rem(16px)
            margin-bottom: 28px
      &-list
         &__item
            margin-bottom: 20px
         &__image
            margin-right: 12px
         &__text
            font-size: px-to-rem(12px)
   .portfolio
      &__title
         margin-bottom: 45px
      &__arrows
         margin-top: 45px
   .step
      &:nth-child(3)
         &::after
            display: none
      &::after
         display: none
      &s
         &-block
            flex-direction: column
   .about
      &__text
         font-size: px-to-rem(18px)
         line-height: 1.4
   .contacts
      &__title
         margin-bottom: 50px