@charset "UTF-8";
/* Подключение стилей normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Подключение стилей слайдера */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Подключение стилей анимации */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
            transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/* Импорт основных стилей */
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.button {
  background: #ffd200;
  border: 1px solid #D6B000;
  border-radius: 10px;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 85px 0;
}

.section-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 45px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 1rem;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 0.9375rem;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8125rem;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  margin-top: 7px;
  display: inline-block;
}

/* Стили главного экрана */
.hero {
  background-color: #f5f5f5;
  padding: 51px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-size: 2.5625rem;
  line-height: 55px;
  margin-top: 37px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 1.25rem;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 26px;
}

.hero-list__text {
  max-width: 265px;
}

/* Стили блока offer */
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 350px;
  line-height: 35px;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
  font-size: 0.9375rem;
}

.offer-info__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.offer-text {
  max-width: 230px;
}

.offer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Стили блока портфолио */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pettern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 787px;
  margin: auto;
  margin-bottom: 80px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

/* Стили блока с ценами */
.price__card {
  margin-bottom: 30px;
}

.price__title {
  margin: auto;
  margin-bottom: 50px;
  max-width: 516px;
}

.price__subtitle {
  margin-bottom: 60px;
  text-align: center;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(196, 196, 196, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__picture {
  display: block;
}

.card__text {
  padding: 40px 0 50px;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Стили для блока 5 шагов до ремонта  */
.section.steps {
  padding-bottom: 0;
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 50px;
  max-width: 654px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 75px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Стили блока about */
.about {
  background-color: #ffd200;
  padding: 85px 0;
  margin-top: 85px;
}

.about-block {
  text-align: center;
  max-width: 915px;
}

.about__text {
  margin: auto;
  font-size: 2rem;
  line-height: 45px;
}

/* Стили блока guarantee */
.guarantee-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guarantee-item {
  position: relative;
  max-width: 370px;
}

.guarantee__text {
  position: absolute;
  left: 25px;
  top: 9px;
  margin-right: 55px;
}

.guarantee__strong {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.agreement {
  margin-bottom: 80px;
}

.agreement__title {
  margin: auto;
  margin-top: 143px;
  margin-bottom: 130px;
  max-width: 660px;
}

.agreement-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.agreement-item {
  max-width: 290px;
  text-align: center;
}

.agreement__text {
  margin-top: 43px;
  font-size: 1.125rem;
  line-height: 24px;
}

/* Стили блока brif */
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 69px;
}

.interview__title {
  font-size: 1.375rem;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.interview__subtitle {
  display: block;
  margin-bottom: 85px;
  font-size: 0.9375rem;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__item:last-child {
  margin-bottom: 0;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  margin-right: 33px;
  line-height: 31px;
  font-size: 0.875rem;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 380px;
}

.form__title {
  font-size: 1.375rem;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.form__subtitle {
  display: block;
  margin-bottom: 85px;
  font-size: 0.9375rem;
}

.form__description {
  font-size: 0.9375rem;
  display: inline-block;
}

/* Стили блока footer */
.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

iframe {
  width: 100%;
  height: 655px;
  border: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 38px;
}

.contacts-list__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

/* Подключение модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 585px;
  width: 90%;
  min-width: 200px;
  background-color: #f5f5f5;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.modal-dialog__title {
  max-width: 240px;
  margin: 40px auto 50px;
}

.modal-dialog__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 0.875rem;
}

.modal-dialog__description {
  display: block;
  max-width: 270px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 0.9375rem;
}

.modal-dialog__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 0.9375rem;
}

.modal-content {
  text-align: center;
}

.modal__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.modal__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Подключение медиа запросов */
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    font-size: 2.1875rem;
    line-height: 50px;
  }
  .hero-text__subtitle {
    font-size: 17px;
    margin-bottom: 60px;
  }
  .section {
    padding: 70px 0;
  }
  .offer-block {
    padding-right: 50px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-text {
    max-width: 210px;
  }
  .portfolio__title {
    margin-bottom: 55px;
  }
  .cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .step {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 30px;
  }
  .step:nth-child(3)::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about {
    margin-top: 50px;
  }
  .about__text {
    font-size: 1.875rem;
  }
  .guarantee-item {
    max-width: 300px;
  }
  .agreement {
    margin-bottom: 0;
  }
  .agreement__title {
    margin-bottom: 50px;
    margin-top: 75px;
  }
  .brif__form {
    padding-left: 30px;
  }
  .form__title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 45px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 60px;
  }
  .interview-list__text {
    font-size: 0.875rem;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .contacts {
    padding-left: 100px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image {
    text-align: center;
  }
  .hero-text__title {
    font-size: 2rem;
  }
  .hero-text__subtitle {
    margin-bottom: 50px;
  }
  .hero-list__item:last-child {
    margin-bottom: 40px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 1.6875rem;
    line-height: 35px;
  }
  .input {
    padding: 20px 26px;
  }
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 25px;
  }
  .offer__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 24px;
  }
  .offer-info {
    margin-top: 22px;
  }
  .offer-phone {
    width: 150px;
  }
  .offer-text {
    max-width: 180px;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .portfolio__arrows {
    margin-top: 50px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about {
    margin-top: 40px;
  }
  .about__text {
    font-size: 1.5625rem;
    line-height: 40px;
  }
  .guarantee-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guarantee-item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .guarantee-item:last-child {
    margin-bottom: 0;
  }
  .agreement-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .agreement-item {
    max-width: 366px;
  }
  .agreement__text {
    margin: 30px 0 40px;
  }
  .contacts {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 1.5625rem;
    line-height: 30px;
  }
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    max-width: 100%;
  }
  .offer__subtitle {
    max-width: 100%;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-info__phone {
    margin-top: 10px;
  }
  .offer-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .offer-phone {
    width: 100%;
  }
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:nth-child(2n)::after {
    display: none;
  }
  .step:nth-child(3)::after {
    display: block;
  }
  .about {
    margin-top: 25px;
  }
  .about__text {
    font-size: 1.375rem;
    line-height: 30px;
  }
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 100px;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 1.4;
  }
  .interview__subtitle {
    font-size: 0.875rem;
    margin-bottom: 49px;
  }
  .interview-list__item {
    margin-bottom: 25px;
  }
  .interview-list__counter {
    margin-right: 9px;
  }
  .interview-list__text {
    max-width: 210px;
  }
  .form {
    padding-left: 0;
  }
  .form__title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 1.4;
  }
  .form__subtitle {
    font-size: 0.875rem;
    margin-bottom: 49px;
  }
  .form__description {
    font-size: 0.875rem;
  }
  .map {
    width: 100%;
    left: 0;
    top: 460px;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0;
    padding-top: 60px;
  }
  .contacts-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__title {
    text-align: center;
    font-size: 1.125rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .section-title {
    font-size: 1.125rem;
    line-height: 1.2;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 18px;
    margin-left: 15px;
  }
  .navbar__logo {
    width: 120px;
  }
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 1rem;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 12px;
  }
  .hero-list__text {
    font-size: 0.75rem;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
  .portfolio__arrows {
    margin-top: 45px;
  }
  .step:nth-child(3)::after {
    display: none;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    margin-top: 15px;
  }
  .about__text {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  .contacts__title {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */