@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  background: #ffd200;
  border: 1px solid #D6B000;
  border-radius: 10px;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 85px 0;
}

.section-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8125rem;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  margin-top: 7px;
  display: inline-block;
}

/* Стили главного экрана */
.hero {
  background-color: #f5f5f5;
  padding: 51px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-top: 37px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 26px;
}

.hero-list__text {
  max-width: 265px;
}

/* Стили блока offer */
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 350px;
  line-height: 35px;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
  font-size: 15px;
}

.offer-info__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.offer-text {
  max-width: 230px;
}

.offer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Стили блока портфолио */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pettern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 787px;
  margin: auto;
  margin-bottom: 80px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

/* Стили блока с ценами */
.price__card {
  margin-bottom: 30px;
}

.price__title {
  margin: auto;
  margin-bottom: 50px;
  max-width: 516px;
}

.price__subtitle {
  margin-bottom: 60px;
  text-align: center;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(196, 196, 196, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__picture {
  display: block;
}

.card__text {
  padding: 40px 0 50px;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Стили для блока 5 шагов до ремонта  */
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 50px;
  max-width: 654px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 75px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Стили блока about */
.about {
  background-color: #ffd200;
}

.about-block {
  text-align: center;
  max-width: 915px;
}

.about__text {
  margin: auto;
  font-size: 32px;
  line-height: 45px;
}

/* Стили блока guarantee */
.guarantee-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guarantee-item {
  position: relative;
  max-width: 370px;
}

.guarantee__text {
  position: absolute;
  left: 25px;
  top: 9px;
  margin-right: 55px;
}

.guarantee__strong {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.agreement {
  margin-bottom: 80px;
}

.agreement__title {
  margin: auto;
  margin-top: 143px;
  margin-bottom: 130px;
  max-width: 660px;
}

.agreement-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.agreement-item {
  max-width: 290px;
  text-align: center;
}

.agreement__text {
  margin-top: 43px;
  font-size: 18px;
  line-height: 24px;
}

/* Подключение модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

/* Подключение медиа запросов */
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    font-size: 35px;
    line-height: 50px;
  }
  .hero-text__subtitle {
    font-size: 17px;
    margin-bottom: 60px;
  }
  .section {
    padding: 70px 0;
  }
  .offer-block {
    padding-right: 50px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-text {
    max-width: 210px;
  }
  .portfolio__title {
    margin-bottom: 55px;
  }
  .cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .step {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 30px;
  }
  .step:nth-child(3)::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__text {
    font-size: 30px;
  }
  .guarantee-item {
    max-width: 300px;
  }
  .agreement__title {
    margin-bottom: 50px;
    margin-top: 75px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image {
    text-align: center;
  }
  .hero-text__title {
    font-size: 32px;
  }
  .hero-text__subtitle {
    margin-bottom: 50px;
  }
  .hero-list__item:last-child {
    margin-bottom: 40px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 27px;
    line-height: 35px;
  }
  .input {
    padding: 20px 26px;
  }
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 25px;
  }
  .offer__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .offer-info {
    margin-top: 22px;
  }
  .offer-phone {
    width: 150px;
  }
  .offer-text {
    max-width: 180px;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .portfolio__arrows {
    margin-top: 50px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__text {
    font-size: 25px;
    line-height: 40px;
  }
  .guarantee-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guarantee-item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .guarantee-item:last-child {
    margin-bottom: 0;
  }
  .agreement-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .agreement-item {
    max-width: 366px;
  }
  .agreement__text {
    margin: 30px 0 40px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .section {
    padding: 50px 0;
  }
  .section-title {
    font-size: 25px;
    line-height: 30px;
  }
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    max-width: 100%;
  }
  .offer__subtitle {
    max-width: 100%;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-info__phone {
    margin-top: 10px;
  }
  .offer-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .offer-phone {
    width: 100%;
  }
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:nth-child(2n)::after {
    display: none;
  }
  .step:nth-child(3)::after {
    display: block;
  }
  .about__text {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .section-title {
    font-size: 18px;
    line-height: 1.2;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 18px;
    margin-left: 15px;
  }
  .navbar__logo {
    width: 120px;
  }
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 12px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
  .portfolio__arrows {
    margin-top: 45px;
  }
  .step:nth-child(3)::after {
    display: none;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__text {
    font-size: 18px;
    line-height: 1.4;
  }
}
/*# sourceMappingURL=style.css.map */